In [4]:
import pymongo

client=pymongo.MongoClient('mongodb://127.0.0.1:27017/')

mydb=client['Employee']
empinfo=mydb.employeeinformation

In [5]:
record={
        'firstname':'Desmond',
        'lastname':'Tifang',
        'department':'Analytics',
        'qualification':'MSC',
        'age':29
        }
empinfo.insert_one(record)

InsertOneResult(ObjectId('68b01a6ba5597b9aa9fb9b73'), acknowledged=True)

In [9]:
records=[{
        'firstname':'John',
        'lastname':'Doe',
        'department':'Analytics',
        'qualification':'statistics',
        'age':35
        
        },
         {
        'firstname':'John ',
        'lastname':'Smith',
        'department':'Analytics',
        'qualification':'masters',
        'age':30
        
        },
        {
        'firstname':'Manish',
        'lastname':'Sen',
        'department':'Analytics',
        'qualification':'phd',
        'age':34
        
        },
        {
        'firstname':'Ram',
        'lastname':'Singh',
        'department':'Analytics',
        'qualification':'master',
        'age':35
        
        }]

In [10]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('68b01f5ba5597b9aa9fb9b78'), ObjectId('68b01f5ba5597b9aa9fb9b79'), ObjectId('68b01f5ba5597b9aa9fb9b7a'), ObjectId('68b01f5ba5597b9aa9fb9b7b')], acknowledged=True)

In [11]:
## Simple way of querying
empinfo.find_one()

{'_id': ObjectId('68b01a6ba5597b9aa9fb9b73'),
 'firstname': 'Desmond',
 'lastname': 'Tifang',
 'department': 'Analytics',
 'qualification': 'MSC',
 'age': 29}

In [12]:
## Select * from employeeinformation
for record in empinfo.find({}):
    print(record)

{'_id': ObjectId('68b01a6ba5597b9aa9fb9b73'), 'firstname': 'Desmond', 'lastname': 'Tifang', 'department': 'Analytics', 'qualification': 'MSC', 'age': 29}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b78'), 'firstname': 'John', 'lastname': 'Doe', 'department': 'Analytics', 'qualification': 'statistics', 'age': 35}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b79'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b7a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b7b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 35}

In [13]:
## Query the json documents based on equality conditions
# Select * from employeeinformation where firstname=Desmond

for record in empinfo.find({'firstname':'Desmond'}):
    print(record)

{'_id': ObjectId('68b01a6ba5597b9aa9fb9b73'), 'firstname': 'Desmond', 'lastname': 'Tifang', 'department': 'Analytics', 'qualification': 'MSC', 'age': 29}

In [14]:
## Query documents using comparison operators($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['phd','master']}}):
    print(record)

{'_id': ObjectId('68b01f5ba5597b9aa9fb9b7a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b7b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 35}

In [18]:
## and operators

for record in empinfo.find({'qualification':'master','age':{'$lt':36}}):
    print(record)

{'_id': ObjectId('68b01f5ba5597b9aa9fb9b7b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 35}

In [19]:
## OR operators

for record in empinfo.find({
    '$or': [
        {'qualification': 'master'},
        {'age': {'$lt': 35}}
    ]
}):
    print(record)

{'_id': ObjectId('68b01a6ba5597b9aa9fb9b73'), 'firstname': 'Desmond', 'lastname': 'Tifang', 'department': 'Analytics', 'qualification': 'MSC', 'age': 29}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b79'), 'firstname': 'John ', 'lastname': 'Smith', 'department': 'Analytics', 'qualification': 'masters', 'age': 30}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b7a'), 'firstname': 'Manish', 'lastname': 'Sen', 'department': 'Analytics', 'qualification': 'phd', 'age': 34}
{'_id': ObjectId('68b01f5ba5597b9aa9fb9b7b'), 'firstname': 'Ram', 'lastname': 'Singh', 'department': 'Analytics', 'qualification': 'master', 'age': 35}

In [20]:
# insert nestled document

inventory=mydb.inventory

In [21]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [22]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('68b03681a5597b9aa9fb9b7c'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}