# Mongodb Aggregate And Group
avg

sum

project

In [1]:
from pymongo import MongoClient  
    
# creation of object MongoClient  
client=MongoClient()  
    
# Connect with the portnumber and host  
client = MongoClient("mongodb://localhost:27017/")  
    
# Access database  
mydatabase = client['Students']  
    
# Access collection of the database  
collection=mydatabase['studentscores']  
data = [ 
    {"user":"Desmond", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Desmond",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Desmond",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('68b0480a5051f8fdef9b1d67'), ObjectId('68b0480a5051f8fdef9b1d68'), ObjectId('68b0480a5051f8fdef9b1d69'), ObjectId('68b0480a5051f8fdef9b1d6a'), ObjectId('68b0480a5051f8fdef9b1d6b'), ObjectId('68b0480a5051f8fdef9b1d6c')], acknowledged=True)

In [2]:
### Find Amit And Desmond Total Subjects
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ])

In [3]:
for i in agg_result: 
    print(i)

{'_id': 'Desmond', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [4]:
### Calculating the total score based on user
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Desmond', 'Total Marks': 250}
{'_id': 'Amit', 'Total Marks': 235}

In [5]:
### Calculating the average score based on user
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Desmond', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}

In [9]:
import datetime

data = [
    { "_id": 1, "item": "abc", "price": 10, "quantity": 2, "date": datetime.datetime.now(datetime.timezone.utc)},
    { "_id": 2, "item": "jkl", "price": 20, "quantity": 1, "date": datetime.datetime.now(datetime.timezone.utc)},
    { "_id": 3, "item": "xyz", "price": 5, "quantity": 5, "date": datetime.datetime.now(datetime.timezone.utc)},
    { "_id": 4, "item": "abc", "price": 10, "quantity": 10, "date": datetime.datetime.now(datetime.timezone.utc)},
    { "_id": 5, "item": "xyz", "price": 5, "quantity": 10, "date": datetime.datetime.now(datetime.timezone.utc)}
]

In [8]:
data

[{'_id': 1,
  'item': 'abc',
  'price': 10,
  'quantity': 2,
  'date': datetime.datetime(2025, 8, 28, 12, 22, 31, 623868)},
 {'_id': 2,
  'item': 'jkl',
  'price': 20,
  'quantity': 1,
  'date': datetime.datetime(2025, 8, 28, 12, 22, 31, 623868)},
 {'_id': 3,
  'item': 'xyz',
  'price': 5,
  'quantity': 5,
  'date': datetime.datetime(2025, 8, 28, 12, 22, 31, 623868)},
 {'_id': 4,
  'item': 'abc',
  'price': 10,
  'quantity': 10,
  'date': datetime.datetime(2025, 8, 28, 12, 22, 31, 623868)},
 {'_id': 5,
  'item': 'xyz',
  'price': 5,
  'quantity': 10,
  'date': datetime.datetime(2025, 8, 28, 12, 22, 31, 623868)}]

In [10]:
mycollection=mydatabase['stores']  
mycollection.insert_many(data)

InsertManyResult([1, 2, 3, 4, 5], acknowledged=True)

In [11]:
### Calculating the average quantity And Average Price
agg_result=mycollection.aggregate([
   {
      "$group": {
         "_id": '$item',
         "avgAmount": {"$avg": {"$multiply": [ "$price", "$quantity" ]}},
          "avgQuantity": { "$avg": "$quantity" }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'abc', 'avgAmount': 60.0, 'avgQuantity': 6.0}
{'_id': 'jkl', 'avgAmount': 20.0, 'avgQuantity': 1.0}
{'_id': 'xyz', 'avgAmount': 37.5, 'avgQuantity': 7.5}

In [12]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [13]:
# Access collection of the database  
collection=mydatabase['Books']

In [14]:
collection.insert_many(data)

InsertManyResult([1, 2], acknowledged=True)

In [15]:
for row in collection.aggregate( [ { "$project": { "title": 1,"isbn":1 } } ] ):
    print(row)

{'_id': 1, 'title': 'abc123', 'isbn': '0001122223334'}
{'_id': 2, 'title': 'Baked Goods', 'isbn': '9999999999999'}